@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$gray: #f5f7fa;
$primary: #4caf4f;
$title-color: #4d4d4d;
$text-color: #717171;
$footer-bg: #263238;
$link-color-header: #18191f;